#jinja2: lstrip_blocks: "True", trim_blocks: "True"
#--------------------------------------------------------------------------------
# Mount /etc/dd-agent/conf.d/kubernetes.yaml as config map.
#--------------------------------------------------------------------------------
kind: ConfigMap
apiVersion: v1
metadata:
  name: dd-agent-config
  namespace: default
data:
  kubernetes-config: |
    init_config:
    instances:
      - port: 4194
        enabled_gauges:
        - cpu.*
        - filesystem.*
        - memory.*
        - network.tcp6.*
        apiserver_client_crt: /etc/dd-agent/conf.d/apiserver-client.key
        apiserver_client_key: /etc/dd-agent/conf.d/apiserver-client.key
        apiserver_ca_cert:    /etc/dd-agent/conf.d/apiserver-ca.crt
    tags:
      - dd-agent:true

---
#--------------------------------------------------------------------------------
# Datadog K8S daemonset generated with Ansible
# https://app.datadoghq.com/account/settings#agent/kubernetes
#--------------------------------------------------------------------------------
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: dd-agent
spec:
  template:
    metadata:
      labels:
        app: dd-agent
      name: dd-agent
    spec:
      containers:
      - image: datadog/docker-dd-agent:latest
        imagePullPolicy: Always
        name: dd-agent
        ports:
          - containerPort: 8125
            name: dogstatsdport
            protocol: UDP
        env:
          - name: TAGS
            value: "{{ datadog_tags }}"
          - name: API_KEY
            value: "{{ datadog_api_key }}"
          - name: KUBERNETES
            value: "yes"
          - name: SD_BACKEND
            value: docker
          - name: DD_PROCESS_AGENT_ENABLED
            value: "true"
          # Uncomment this variable if the agent has issues reaching kubelet
          # - name: KUBERNETES_KUBELET_HOST
          #   valueFrom:
          #     fieldRef:
          #       fieldPath: status.hostIP  # Kubernetes >= 1.7
          #       # or
          #       # fieldPath: spec.nodeName  # Kubernetes < 1.7
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "250m"
        volumeMounts:
          - name: dockersocket
            mountPath: /var/run/docker.sock
          - name: procdir
            mountPath: /host/proc
            readOnly: true
          - name: cgroups
            mountPath: /host/sys/fs/cgroup
            readOnly: true
          - name: passwd
            mountPath: /etc/passwd
            readOnly: true
          #--------------------------------------------------------------------------------
          # Mount API server client certificate and CA files as secrets
          #--------------------------------------------------------------------------------
          - name: apiserver-client-crt
            mountPath: /etc/dd-agent/conf.d/apiserver_client.crt
          - name: apiserver-client-key
            mountPath: /etc/dd-agent/conf.d/apiserver-client.key
          - name: apiserver-ca-crt
            mountPath: /etc/dd-agent/conf.d/apiserver-ca.crt
          #--------------------------------------------------------------------------------
          # Mount API server client certificate and CA files as secrets
          #--------------------------------------------------------------------------------
          - name: dd-agent-config
            mountPath: /etc/dd-agent/conf.d
        livenessProbe:
          exec:
            command:
            - ./probe.sh
          initialDelaySeconds: 15
          periodSeconds: 5
      volumes:
        - hostPath:
            path: /var/run/docker.sock
          name: dockersocket
        - hostPath:
            path: /proc
          name: procdir
        - hostPath:
            path: /sys/fs/cgroup
          name: cgroups
        - hostPath:
            path: /etc/hosts
          name: passwd
        #--------------------------------------------------------------------------------
        # API server client certificate and CA files as secrets
        #--------------------------------------------------------------------------------
        - name: apiserver-client-crt
          secret:
            secretName: apiserver-client.crt
        - name: apiserver-client-key
          secret:
            secretName: apiserver-client.key
        - name: apiserver-ca-crt
          secret:
            secretName: apiserver-ca.crt
        #--------------------------------------------------------------------------------
        # /etc/dd-agent/conf.d/kubernetes.yaml for further monitoring.
        # https://gist.github.com/CharlyF/dd481c3ed4fe38e2e47b4ccd85328032
        #--------------------------------------------------------------------------------
        - name: dd-agent-config
          configMap:
            name: dd-agent-config
            items:
            - key: kubernetes-config
              path: kubernetes.yaml
